<main role="main" class="inner cover text-center">
  <h1 class="cover-heading ">About Me</h1>
  <p class="lead">With over a decode of development experience and 171 and still counting deployed applications I realized the key to best experience is to keep an open communication channel with my customers and users.</p>
  <p class="lead">For this reason I developed a set of communication frameworks and tools thta focus on making sure communication is transparent and continues during all phases of the project development.</p>
</main>