<main role="main" class="inner cover">
 <h1 class="cover-heading text-center">To work together</h1>
 <hr>
  <div class="row">
    <div class="col-md-6">

      <h3>Office Address</h3>
      <p>734 W Polk St, Phoenix, AZ 85007</p>
      <h3>Phone</h3>
      <p><%= number_to_phone "5555555555" %></p>
      <h3>Email</h3>
      <p><a href="mailto:slotswitch@yahoo.com?subject=Portfolio Contact" "email me"> Email me </a> </p>
    </div>
    
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.839595295603!2d-112.0861478495044!3d33.453485356398254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b123c58ee5439%3A0x39f901ab17299614!2sThe%20McKinley%20Club!5e0!3m2!1sen!2sus!4v1598760909365!5m2!1sen!2sus" width="350" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</main>