<main role="main" class="inner cover text-center">
  <h1 class="cover-heading ">Welcome.</h1>
  <p class="lead">Our goal is to deliver a product that meets your needs and make sure during each stage of the development the process and progress are fully communicated.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>